@page "/"
@using ZoomersClient.Shared.Models
@inject NavigationManager NavigationManager
@inject HttpClient Http

<div class="row form-inline">
    <div class="col-sm-12 col-md-6">
        <div class="form-group">
            <label>
                Game Name:
                <input @bind="Name" class="form-control mx-2" />                
            </label>
            <button class="btn btn-success" @onclick="StartGame">Start Game</button>
        </div>
    </div>
</div>

<hr>

<ul id="games">
    @foreach (var game in Games)
    {
        <li><a href="game/@game.Id">@game.Name</a></li>
    }
</ul>

@code {
    private string Name;

    private IEnumerable<Game> Games = new List<Game>();

    protected override async Task OnInitializedAsync()
    {
        var result = await Http.GetFromJsonAsync<Game[]>("Games");
        
        if (result.Any())
        {
            Games = result;
        }
    }

    private async Task StartGame()
    {
        var response = await Http.PostAsJsonAsync("Games", Name);

        var game = await response.Content.ReadFromJsonAsync<Game>();

        NavigationManager.NavigateTo($"game/{game.Id}");
    }    
}