@page "/clock"
@using ZoomersClient.Client.Components.Shared

@if(ClockShown)
{
    <Clock Seconds="10" Class="@ClockClass" ClockRunning="@ClockRunning" TimeEllapsed="ClockFinished"></Clock>
}

<button class="btn btn-info" @onclick="ShowClock">Toggle</button>

<button class="btn btn-dark" @onclick="StartClock">Start</button>

@if(ShowFinishedMessage)
{
    <h3 class="text-success">The clock has expired!</h3>
}

@code {
    public bool ClockShown { get; set; }
    public bool ClockRunning { get; set; }
    public bool ShowFinishedMessage { get; set; }
    public string ClockClass { get; set; }

    public void ShowClock() {
        ClockShown = !ClockShown;
        ClockClass = "slide-in-blurred-bottom";
        StateHasChanged();
    }
    public async Task StartClock() {
        ClockRunning = !ClockRunning;
        StateHasChanged();
    }

    public async Task ClockFinished()
    {
        ShowFinishedMessage = true;
        ClockClass = "slide-out-fwd-center";
    }
}