@page "/timer"
@using ZoomersClient.Client.Components.Shared

<Timer @ref="timer" TimeEllapsed="@((c) => TimeOver(c))" Seconds="10"></Timer>

<p>
    <button class="btn btn-success" @onclick="StartTimer">Start</button>
    <button class="btn btn-danger" @onclick="StopTimer">Stop</button>
</p>

<p>
    @message
</p>

@code {
    private string message { get; set; }

    private Timer timer { get; set; }

    public void StartTimer()
    {
        timer.StartTimer();
    }

    public void StopTimer()
    {
        timer.StopTimer();
    }

    public async Task TimeOver(int counter)
    {
        message = $"done! with {counter} remaining" ;
        StateHasChanged();  
    }
}