body {
    overflow: hidden;
}

#current-question {
    font-size: 4em;
    padding-right: 3em;
    margin-bottom: 14px!important;
}

#on-deck__label {
    position: absolute;
    top: 0px;
    left: 26px;
    z-index: 1000;
    padding: 0 6px;
    background-color: orange;    
    border-radius: 3px;
}

.roundending .player-badge, .roundsummary .player-badge {
    min-height: 133px;
}