#game-layout {
    overflow-y: hidden;
}

#current-question {
    font-size: 4em;
    padding-right: 3em;
}

#on-deck__label {
    position: absolute;
    top: -18px;
}


.roundending .player-badge, .roundsummary .player-badge {
    min-height: 133px;
}