@inject HttpClient Http
@using ZoomersClient.Client.Components.Shared
@using ZoomersClient.Shared.Models
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager NavigationManager
@inject ZoomersClient.Shared.Services.GameService GameService
@using Toolbelt.Blazor.SpeechSynthesis
@inject SpeechSynthesis SpeechSynthesis

@if (Game != null)
{
    <div class="row">
        <div class="col">            
            @if(CurrentQuestion != null)
            {
                <div class="jumbotron swing-in-top-fwd" id="current-question">
                    @CurrentQuestion.Question
                </div>
            }         

            @if(CurrentPlayer != null)
            {
                <div class="row">
                    <div class="col">
                        <PlayerIconButton Icon="CurrentPlayer.Icon"></PlayerIconButton>
                    </div>
                </div>
                
            }
        </div>
    </div>    

    <div class="row my-4">
        <div class="col">
            <h3>@StatusMessage</h3>
        </div>
    </div>

    <Clock Seconds="60" Class="slide-in-blurred-bottom"></Clock>

    @if(PlayersAnswered.Any())
    {
        <div class="row">
        @foreach(var player in PlayersAnswered)
        {
            <div class="col">
                <PlayerBadge Player="@player" Class="my-4"></PlayerBadge>
            </div>
        }
        </div>
    }
}

@code {

    [Parameter]
    public Game Game { get; set; }
    public Player CurrentPlayer { get; set; }
    public string StatusMessage { get; set; }
    public WordPlayQuestion CurrentQuestion { get; set; }
    public List<Player> PlayersAnswered { get; set; }
    
    private HubConnection hubConnection;

    protected override async Task OnInitializedAsync()
    {
        base.OnInitialized();
        
        PlayersAnswered = new List<Player>();
                
        // connect to hub
        hubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri($"/{Game.GameType}hub"))
            .Build();

        // subscribe to game events     
        
        hubConnection.On<WordPlayQuestion, Player>("QuestionReady", (question, player) =>
        {               
            CurrentQuestion = question;
            CurrentPlayer = player;
            StateHasChanged();

            Console.WriteLine(question.Question);
            SpeakPhrase(question.Question);
        });

        hubConnection.On<Player>("QuestionAnswered", async (player) => {
            Console.WriteLine("A person answered a question! " + player.Username);
            PlayersAnswered.Add(player);

            StateHasChanged();

            if (PlayersAnswered.Count >= Game.Players.Count - 1)
            {
                await hubConnection.SendAsync("AnswersFinished", Game.Id, CurrentPlayer.Username);
            }
        });

        hubConnection.On<Game, SpeechSynthesisUtterance>("AnswersFinished", (game, phrase) => {
            Console.WriteLine("finished Answers - " + phrase.Text);
            StatusMessage = phrase.Text;
            StateHasChanged();
            SpeakPhrase(phrase.Text);
        });        

        // start hub
        await hubConnection.StartAsync();
        
        // get player on deck, ask first question
        await hubConnection.SendAsync("AskQuestion", Game.Id);

        // await hubConnection.SendAsync("Subscribe", Id);
    }

    private void SpeakPhrase(string message)
    {
        if (this.SpeechSynthesis.Speaking)
        {
            this.SpeechSynthesis.Cancel();
        }
        
        this.SpeechSynthesis.Speak(new SpeechSynthesisUtterance() {
            Lang = Game.Voice,
            Text = message
        });
    }
    
    public bool IsConnected =>
        hubConnection.State == HubConnectionState.Connected;

    public async ValueTask DisposeAsync()
    {
        await hubConnection.DisposeAsync();
    }    
}
