@using ZoomersClient.Client.Components.Players
@using ZoomersClient.Shared.Models

<h1>The answers are, lets see how they did:</h1>

<div class="row">
@foreach(var playerAnswer in Game.AnsweredQuestions)
{    
    <div class="col-6">
        <PlayerAnswerButton Player="playerAnswer.Player" Answer="playerAnswer" Selected="@(playerAnswer.Answer == playerAnswer.CurrentPlayerAnswer)">
            @playerAnswer.Answer
            <label>@CurrentPlayer.Username chose:</label>
            @playerAnswer.CurrentPlayerAnswer
        </PlayerAnswerButton>
    </div>
}
</div>

@code {
    [Parameter]
    public Game Game { get; set; }

    [Parameter]
    public Player CurrentPlayer { get; set; }    
}