@using ZoomersClient.Shared.Models.DTOs
@using ZoomersClient.Client.Components.Shared

@if(Show)
{
    <div class="row player-answer-result @AnswerClass m-2 p-2">
        <div class="col-10 swing-in-top-fwd">
            <div><span class="text-dark">Answered:</span> @Answer.Answer</div>
            <div><span class="text-dark"><PlayerIconButton Icon="@CurrentPlayer.Icon" BackgroundColor="@CurrentPlayer.BackgroundColor"></PlayerIconButton> chose:</span> @Answer.CurrentPlayerAnswer</div>
        </div>
        <div class="col-2 text-right player-answer-result__icon">
            @if(Correct)
            {
                <span class='oi oi-thumb-up text-success flip-in-hor-bottom' aria-hidden="true"></span>
            } 
            else
            {
                <span class='oi oi-thumb-down text-danger flip-in-hor-bottom' aria-hidden="true"></span>
            }
        </div>
    </div>
}

@code {
    [Parameter]
    public AnsweredQuestionDto Answer { get; set; }
    
    [Parameter]
    public PlayerDto CurrentPlayer { get; set; }
    
    [Parameter]
    public bool Show { get; set; }

    public bool Correct { get; set; }

    public string AnswerClass { get; set; }

    protected override void OnParametersSet()
        {
            base.OnParametersSet();

            Correct = Answer.Answer == Answer.CurrentPlayerAnswer && !Answer.AnswerTimedOut;

            if (!Show)
            {
                AnswerClass = "";
            }
            else
            {
                AnswerClass = Correct? "correct" : "wrong";

            }
        }
}
