@using ZoomersClient.Client.Components.Shared
@using ZoomersClient.Shared.Models.DTOs

<div class='player-answer-button my-1 @Class @(Selected? "selected bs-6" : "bs-10")' @onclick="ClickToggleActive">
    <PlayerBadge Player="Player"></PlayerBadge>
    <div class="player-answer-button__check">
        @if(string.IsNullOrEmpty(Answer.CurrentPlayerAnswer))
        {
            <span class='oi @(Selected? "oi-check text-success" : "oi-media-record text-white")' aria-hidden="true"></span>
        }
        else {
            <span class='oi oi-check @((Selected)? "text-secondary" : "text-success")' aria-hidden="true"></span>
        }
        
    </div>
</div>
<div class="player-answer-button__answer">
    @ChildContent
</div>

@code {
    [Parameter]
    public PlayerDto Player { get; set; }

    [Parameter]
    public AnsweredQuestionDto Answer { get; set; }

    [Parameter]
    public string Class { get; set; }

    [Parameter]
    public bool Selected { get; set; }

    [Parameter]
    public EventCallback<PlayerDto> OnClickButton { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    public async Task ClickToggleActive()
    {
        await OnClickButton.InvokeAsync(Player);
    }
}