@using ZoomersClient.Shared.Models
@using ZoomersClient.Client.Components.Shared

@if(Show)
{
    <div class="row player-answer-result m-2 p-2">
        <div class="col-10 swing-in-top-fwd">
            <div><span class="text-secondary">Answer:</span> @Answer.Answer</div>
            <div><span class="text-secondary"><PlayerIconButton Icon="@CurrentPlayer.Icon" BackgroundColor="@CurrentPlayer.BackgroundColor"></PlayerIconButton> chose:</span> @Answer.CurrentPlayerAnswer</div>
        </div>
        <div class="col-2 text-right player-answer-result__icon">
            @if(Answer.Answer == Answer.CurrentPlayerAnswer)
            {
                <span class='oi oi-thumb-up text-success flip-in-hor-bottom' aria-hidden="true"></span>
            } 
            else
            {
                <span class='oi oi-thumb-down text-danger flip-in-hor-bottom' aria-hidden="true"></span>
            }
        </div>
    </div>
}

@code {
    [Parameter]
    public AnsweredQuestion Answer { get; set; }
    
    [Parameter]
    public Player CurrentPlayer { get; set; }
    
    [Parameter]
    public bool Show { get; set; }
}