.answer-send-hate {  
    right: 40px;
    border: 1px dashed rgb(112, 52, 13);
  }
  
  .answer-send-love {
    right: 8px;  
    border: 1px dashed rgb(240, 143, 143);
  }
  
  .answer-reaction {
    position: absolute;
    top: 6px;
    padding: 2px;
    border-radius: 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
  }
    
  .answer-reaction:after {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  .answer-reaction:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }
  