@inject HttpClient Http
@using ZoomersClient.Shared.Models
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager NavigationManager
@inject ZoomersClient.Shared.Services.GameService GameService
@using Toolbelt.Blazor.SpeechSynthesis
@inject SpeechSynthesis SpeechSynthesis

@if (Game != null)
{
    <div class="row">
        <div class="col">
            <h1>Game Name: <u>@Game.Name</u></h1>

            <div class="jumbotron">
                @if(CurrentQuestion != null)
                {
                    @CurrentQuestion.Question
                }                
            </div>

            @if(CurrentPlayer != null)
            {
                <PlayerIconButton Icon="CurrentPlayer.Icon"></PlayerIconButton>
            }
        </div>
    </div>    
}

@code {
    [Parameter]
    public string Id { get; set; }

    [CascadingParameter]
    public Game Game { get; set; }
    public Player CurrentPlayer { get; set; }
    public WordPlayQuestion CurrentQuestion { get; set; }

    public ElementReference FakeButton { get; set; }

    private HubConnection hubConnection;

    protected override async Task OnInitializedAsync()
    {
        base.OnInitialized();

        // Game = await Http.GetFromJsonAsync<Game>($"Games/{Id}");
        
        // connect to hub
        hubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri($"/{Game.GameType}hub"))
            .Build();

        // subscribe to other things
        hubConnection.On<Player>("PlayerConnected", (player) =>
        {               
            Console.WriteLine(player.Username + " you are first!");
        });

        hubConnection.On<WordPlayQuestion>("QuestionReady", async (question) =>
        {               
            CurrentQuestion = question;
            StateHasChanged();

            Console.WriteLine(question.Question);
            await SpeakPhrase(question.Question);
        });

        // start hub
        await hubConnection.StartAsync();

        Console.WriteLine("Bout to ask a q");
        // ask first question
        await hubConnection.SendAsync("AskQuestion");

        // await hubConnection.SendAsync("Subscribe", Id);
    }

    private async Task SpeakPhrase(string message)
    {
        await FakeButton.FocusAsync();

        if (this.SpeechSynthesis.Speaking)
        {
            this.SpeechSynthesis.Cancel();
        }
        
        this.SpeechSynthesis.Speak(new SpeechSynthesisUtterance() {
            Lang = Game.Voice,
            Text = message
        });
    }
    
    public bool IsConnected =>
        hubConnection.State == HubConnectionState.Connected;

    public async ValueTask DisposeAsync()
    {
        await hubConnection.DisposeAsync();
    }    
}
