body {
    overflow: hidden;
}

#game-layout {
    padding: 2em;
    min-height: 100%;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    
    background-image: url("/images/client-footer.png");
    background-repeat: repeat-x;    
    background-position-y: bottom;
}