@using ZoomersClient.Shared.Models.Enums

<div class="party-icon bs-6 @Class" @onclick="OnClickCallback">
    @switch(Icon)
    {
        case PartyIcon.Girl:
            <span><img src="/images/girl.png" class="img-fluid" /></span>
        break;
        case PartyIcon.Boy:
            <span><img src="/images/boy.png" class="img-fluid" /></span>
        break;
        case PartyIcon.Grandma:
            <span><img src="/images/grandma.png" class="img-fluid" /></span>
        break;
        case PartyIcon.Grandpa:
            <span><img src="/images/grandpa.png" class="img-fluid" /></span>
        break;
        case PartyIcon.Scientist:
            <span><img src="/images/scientist.png" class="img-fluid" /></span>
        break;
        case PartyIcon.Zombie:
            <span><img src="/images/zombie.png" class="img-fluid" /></span>
        break;
        case PartyIcon.Cat:
            <span><img src="/images/cat.png" class="img-fluid" /></span>
        break;
        case PartyIcon.Dog:
            <span><img src="/images/dog.png" class="img-fluid" /></span>
        break;
        case PartyIcon.Family:
            <span><img src="/images/family.png" class="img-fluid" /></span>
        break;
        default:
            <span>x</span>
        break;
    }
</div>


@code {
    [Parameter]
    public PartyIcon Icon { get; set;}
    
    [Parameter]
    public string Class { get; set;}
    
    [Parameter]
    public EventCallback<MouseEventArgs> OnClickCallback { get; set; }
}