.party-icon {
    font-size: 3.75em;
    text-align: center;
    
    align-self: center;
    border: solid #7fbdff 2px;
    border-radius: 3px;
}

.party-icon.selected {    
    background-color: rgb(160, 235, 179);
}