.party-icon {
    font-size: 3.75em;
    text-align: center;
    
    align-self: center;
    border: solid #7fbdff 2px;
    border-radius: 3px;

    background-color: rgba(162, 210, 226, 0.5);
}

.party-icon img {
    max-width: 13vw;
    padding: 6px 0;
}

.party-icon.selected {    
    background-color: rgb(160, 235, 179);
}