@using ZoomersClient.Shared.Models

<div class="player-badge @Class">    
    <PlayerIconButton Icon="@Player.Icon" BackgroundColor="@Player.BackgroundColor" Class="rotate-in-center"></PlayerIconButton>    
    <span>@Player.Username</span>                        
</div>

@code {
    [Parameter]
    public string Class { get; set; }

    [Parameter]
    public Player Player { get; set; }
}