.player-icon {
    font-size: 1.7em;
    text-align: center;    
    align-self: center;
    border: solid #717274 1px;
    border-radius: 4px;
    cursor: pointer;
    height: 50px;
    width: 50px;
    padding: 4px;
}

.players-to-answer .player-icon {
    height: 32px;
    width: 32px;
    font-size: 1em;
  }
