.player-badge {
  display: flex;
  align-items: center;
  padding: .4em;
  text-align: left;
}
  
.player-badge span {    
  font-size: 2rem;
  padding: .2em .4em;
  width: 100%;
}

span.player-badge__username {
  max-width: 80%;
}
span.player-badge__content {
  max-width: 33%;
  text-align: right;
}

.players-to-answer .player-badge,
.players-to-answer span.player-badge__username,
.players-to-answer span.player-badge__content {
  font-size: 16px;  
}

.players-to-answer span.player-badge__username,
.players-to-answer span.player-badge__content {
  width: auto;
  text-align: left;
}

.player-answer-button .player-badge {
  flex: 1 0 90%;
  white-space: nowrap;
  overflow: hidden;
}

.player-answer-button .player-badge span {
  font-size: 1em;
  padding: .1em .2em;
}
