<div id="scorecard" class="@Class">    
    <div id="score">
        @if(ChildContent != null)
        {
            @ChildContent
        }
        @Score
    </div>
    <div>score</div>
</div>

@code {
    [Parameter]
    public int Score { get; set; }
    [Parameter]
    public string Class { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }
}