<div id="scorecard" class="@Class">
    <div id="score">@Score</div>
    <div>score</div>
</div>

@code {
    [Parameter]
    public int Score { get; set; }
    [Parameter]
    public string Class { get; set; }
}